:root {
	--yellow-background: #FFDB58;
	--salmon-background: #FF4D4E;
}

body {
	background: var(--yellow-background);
	border-style: solid;
}

#contact {
	display: flex;
	background: var(--salmon-background);
}

.center {
	display: flex;
	justify-content: center;
}

.hero-img {
	max-width: 100%;
}

.icon-container {
	width: 100%;
	position: relative;
	align-items: center;
}

.icons {
	width: 3em;
	height: 3em;
}

.text-button {
	border: none;
	background: none;
	font-weight: bold;
}

body, .icon-container {
	display: flex;
	flex-direction: column;
}

#contact, .container, .img-container {
	border-style: solid;
}

.container, .icon-container {
	padding: 1em;
}
