
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Lexend:wght@100..900&family=Patrick+Hand&display=swap');

/* Fonts for card component */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Vampiro+One&display=swap');

/**** Styling for card component ****/

@media only screen and (min-width: 600px) {
    .card {
    box-shadow: -1em 1em rgb(146, 114, 227);
    background-color: rgb(220, 206, 255);
    display: grid;
    margin-top: 4em;
  }
}

@media only screen and (max-width: 599px) {
    .card {
    background-color: rgb(220, 206, 255);
    display: grid;
    min-width: 100%;
    margin: 20px 0 20px 0;
  }
}

.card-header h3 {
    font-family: "Vampiro One";
}

.card-header h4, h5 {
    font-family: "Belanosima";
}

.card-body {
  padding: 24px 28px;
}

.card-body p {
    font-family: "Nunito Sans";
    font-size: 1.2em;
}

/* General */
.purple-title {
  font-family: "Lexend";
}

.subtitle {
  font-family: "Nunito Sans";
}

.blurb-text {
  font-family: Nunito Sans;
  font-size: 1.2em;
}

.opaque-section {
    background-color: rgb(146, 114, 227, 0.5);
    padding: 50px;
}

body {
  background-image: url('assets/lavander_portrait.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
