@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Lexend:wght@100..900&family=Patrick+Hand&display=swap');

.purple-title {
  font-family: "Bitcount Prop Double Ink";
  text-color: black;
}

.subtitle {
  font-family: "Lexend";
}

p {
  font-family: "Patrick Hand";
  font-size: 1.5em;
}

body {
  background-image: url('assets/lavander_portrait.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.poem {
  margin-bottom:10px;
}

poem:nth-of-type(odd) {
  background: #BCADE0;
}

poem:nth-of-type(even) {
  background: #B9D498;
} 
