@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Notable&family=Patrick+Hand&display=swap');

.purple-title {
  font-family: "Bitcount Prop Double Ink";
  text-color: black;
}

.h4 {
  font-family: "Notable";
}

p {
  font-family: "Patrick Hand";
  font-size: 2em;
}

body {
  background-image: url('assets/lavander_portrait.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

article {
  margin-bottom:10px;
}

article:nth-of-type(odd) {
  background: #BCADE0;
}

article:nth-of-type(even) {
  background: #B9D498;
} 
