<html>
  <head>
  <link rel="stylesheet" href="styles.css" type="text/css">
  </head>

  <body>
    <article class="card">
      <div class="card-header">
        <h3>title</h3>
        <h4>author</h4>
        <h5>abril 2026</h5>
      </div>
      
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet consectetur adipiscing elit. 
          <br> Quisque faucibus ex sapien vitae pellentesque sem placerat. 
          <br> In id cursus mi pretium tellus duis convallis. 
          <br> Tempus leo eu aenean sed diam urna tempor. 
          <br> Pulvinar vivamus fringilla lacus nec metus bibendum egestas. 
          <br> 
          <br> Iaculis massa nisl malesuada lacinia integer nunc posuere. 
          <br> Ut hendrerit semper vel class aptent taciti sociosqu. 
          <br> Ad litora torquent per conubia nostra inceptos himenaeos.
        </p>
      </div>
    </article>
  </body>
</html>
