:root {
	--yellow-background: #FFDB58;
	--salmon-background: #FF4D4E;
	--heading-font: "Arvo";
	--body-font: "DM Sans";
}

button.accordion {
  font-family: var(--body-font);
  font-size: 4vw;
  background-color: var(--salmon-background);
  padding: 18px;
  max-width: 100%;
  text-align: left;
  border-style: solid;
  border-color: black;
  transition: 0.4s;
}

button.accordion:hover  {
   background-color: #ffc3ad;
}

div.panel {
   padding: 0 18px;
   background-color: #fff9ec;
   display: none;
   color: #4c4637;
}

div.panel.show {
   display: block !important;
}
